body {
  margin: 0;
  background: #2e2b29;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  ms-user-select: none; /* IE/Edge */
  user-select: none; /* Standard syntax */
}
.disable-text-select {
 -webkit-user-select: none; /* Safari */
 -moz-user-select: none; /* Firefox */
 ms-user-select: none; /* IE/Edge */
 user-select: none; /* Standard syntax */
}
.container {
  margin: auto;
}
.offline-container {
  margin: auto;
  position: relative;
}
.rounded-square {
  position: fixed;
  display: flex;
  top: 55vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33vw;
  min-height: 32vh;
  height: auto;
  overflow-y: hidden;
  background-color: #292121;
  color: wheat;
  box-sizing: border-box;
  padding: 2.5vh;
  padding-bottom: 15px;
  border-radius: 2vh;
  flex-wrap: wrap;
}
.logo {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 340px;
  height: auto;
  background: url("stingray.svg");
  background-repeat: no-repeat;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
	animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;  
}
.logo-small {
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: 200px;
  background: url("logo-banner.svg");
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 100% 100%;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
}
.errortitle {
  display: block;
  color: wheat;
  margin: auto;
  left: 0;
  right: 0;
  width: auto;
  margin-top: 1vh;
  font-size: 3vh;
}
#status-pill {
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin: auto;
  margin-bottom: 0;
  padding: 10px 20px; /* Padding: top/bottom and left/right */
  width: 15vw;
  height: 2vh; /* You might want to adjust this for better visibility */
  border-radius: 20px; /* Rounded corners */
  outline: 2.5px solid; /* Set the outline width and style */
  outline-color: #424242; /* Make the outline a specific color */
  color: black; /* Ensure text color is visible */
}
.pill {
  background-color: #282828; /* Background color of the square */
}
.green {
  background-color: forestgreen;
}
.yellow { 
background-color: yellow; color: black; 
}
.red {
  background-color: crimson;
}
.servername-cont {
  height: auto;
  display: inline-block;
  float: right;
}
#status-text {
   margin-left: 15px;
}
.spinner {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #008000d4;
  box-shadow: 0 0 0 0 #0004;
  animation: l1 1s infinite;
  margin-left: 15px;
}
@keyframes l1 {
  100% {box-shadow: 0 0 0 30px #0000}
}
.errormessage {
  color: wheat;
  margin: auto;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}
.button-cont {
  display: block;
  width: auto;
  height: 2vh;
  background: green;
}
.button {
  display: block;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px;
  width: 10vw;
  height: 2vh;
  text-align: center;
  border-radius: 12px; /* Rounded corners */
  outline: 2.5px solid; /* Set the outline width and style */
  outline-color: #424242; /* Make the outline blue */
}
.loader-cont {
  position: absolute;
  height: auto;
  border-radius: 8px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: fade-in 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
  animation: fade-in 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.dot-pulse::before, .dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 10014px 0 0 -5px;
  }
}

